// Margins
.mt-3 {
  margin-top: 3rem !important;
}

// Fonts
.fs-1_6 {
  font-size: 1.6rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 3rem !important;
}

.fs-4 {
  font-size: 4rem !important;
}

// Text Transformation
.capitalize {
  text-transform: capitalize;
}
