// COLORS

//Hero
$hero-color: #e4efe9;

//Footer
$footer-color1: #333333;
$footer-color2: #000000;

//weather
$weather-color: coral;

//Text
$dark-blue-text: #272341; // For Headings
$footer-text-color: turquoise; // For Footer
